@font-face{
    font-family: 'Aleo';
    src: url("/fonts/Aleo-Font/lo/Aleo-Regular.otf") format("truetype")
  }

  @font-face{
    font-family: 'Aleo-LightItalic';
    src: url("/fonts/Aleo-Font/lo//Aleo-LightItalic.otf") format("truetype")
  }


*{
    margin: 0;
    padding: 0;
    
}
$font-famiy: "JosefinSans" ;
$font-aleo: "Aleo";
@mixin container{
    width: 1110px;
        position: relative;
        margin: 0 auto;
}

.block1{
    
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("images/block1_bg.jpg");
    height: 741px;
    margin: 0 auto;
    background-position-y: 0;
    background-color: #043c67;
    
    overflow: hidden;
    &__container{
        @include container;
        text-align: center;
        
        text-transform: uppercase;
    }
    &__title{
       
        font-size: 48px;  
    font-family: $font-famiy;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color: none;
    margin-top: 255px;
    }
    &__subtitle{
        font-size: 22px;
    font-family: $font-famiy;
    color: rgb(255, 255, 255);
    margin-top: 10px;
    }
    &__scroll {
            margin-top: 200px;
            font-size: 12px;
            font-family: "JosefinSans";
            color: rgb(255, 255, 255);
            line-height: 1.857;
            text-align: center;
            text-decoration: none;
           
          
    }
}

.block1-menu{
    background-color: #5474fd;
    overflow: hidden;
    height: 80px;
    &__container{
        @include container;
        text-transform: uppercase;
    }
    &__m{
        display: flex;
        justify-content: flex-end;
         @media screen and (max-width:1200px) {
            justify-content: center;
            
             
         }
       
       
    }
    &__link{
        font-size: 14px;
    font-family: $font-aleo;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 0.8;
    margin-left: 40px;
    text-decoration: none;
    margin-top: -20px;
    @media screen and (max-width: 1200px){
        margin-left: 15px;
           
           
           
    }
    
     }
     &__link:focus{
         font-size: 16px ;
     }
     h1{
        font-size: 26px;
        font-family: $font-famiy;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        line-height: 1.083;
        text-align: left;
       margin-top: 25px;
       @media screen and (max-width: 1200px){
          margin-left: 30px;
           
           
       }

     }

}
 .block2{
    background-image: url("images/Rectangle\ 7.png");
    overflow: hidden;
    height: 686px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1px;
    background-color: #474034;
    display: flex;
        flex-wrap: wrap;
        
   
      
    &__container{
        @include container;
        text-transform: uppercase;
    }
    .block2__content{
        width: 541px;
        margin-top: 210px;
        @media screen and (max-width:1200px) 
        {margin: 210px auto;
            text-align: center;
            
        }
    }
    h1{
        font-size: 34px;
        font-family: $font-aleo;
        color: rgb(255, 255, 255);
        line-height: 0.722;
        text-align: left;
        @media screen and (max-width:1200px) 
        {margin: auto;
            text-align: center;
            
        }

    }
    &__content__1{
        font-size: 14px;
    font-family: $font-aleo;
    color: rgb(232, 232, 232);
    word-spacing: 2px;
    margin-top: 60px;
    line-height: 1.625;

    }
    &__content__2{
        font-size: 14px;
    font-family: $font-aleo;
    color: rgb(232, 232, 232);
    margin-top: 50px;
    line-height: 1.625;

    }
    &__content__button{
            
            font-size: 18px;
            font-family: "Aleo";
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            line-height: 1.5;
            text-align: left;
            background-color: #496bfe;
            border: none;
            padding: 20px 40px 20px 40px;
            margin-top: 40px;
        
   }
   &__content__button:hover{
    font-size: 22px;
    border: 2px solid white;    
          
    }
    &__images{
        margin-left: 635px;
        margin-top: -450px;
         
         width: 541px;
         &__2{
             margin-left: 125px;

         }
         @media screen and (max-width:1200px) 
         {display: none;
             
         }
    }

 }
 .block4{
    background-color: #333333;
    overflow: hidden;
    margin-top: -1px;
    height: 338px;
    display: flex;
        flex-wrap: wrap;
    
   
    &__container{
        @include container;
        text-transform: uppercase;
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
        
    }
    &__1{
        text-align: center;
        line-height: 1.7;
        font-size: 32px;
    font-family: "Aleo";
    color: rgb(232, 232, 232);
       
    }
    &__1 img:hover{
        width: 40%;
    }
 }
.block5{
background-image: url("images/Rectangle\ 414.png");
overflow: hidden;
height: 701px;
background-repeat: no-repeat;
background-position: center;
margin-top: -1px;
background-color: #867ba1;
&__container{
    @include container;
    text-transform: uppercase;
    
}
&__spain{
    margin-top: 231px;
    width: 545px;
    height: 373px;
    background-color: #2e2826d0;
    @media screen and (max-width:1200px) 
        {width: 500px;
            text-align: center;
            
        }
    h1{
            margin-left: 29px;
            padding-top: 48px;
            font-size: 18px;
            font-family: "JosefinSans";
            color: rgb(232, 232, 232);
        }
        h2{
            margin-left: 29px;
            padding-top: 28px;
            
                font-size: 20px;
                font-family: "JosefinSans";
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                
                }
                
        }
        p{
            margin-left: 29px;
            padding-top: 26px;
            margin-right: 10px;
            
                font-size: 12px;
                font-family: "JosefinSans";
                color: rgb(232, 232, 232);
                line-height: 1.725;
                text-align: left;
        }
        &__button{
        
        font-size: 18px;
        font-family: "Aleo";
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.5;
        text-align: left;
        background-color: #496bfe;
        border: none;
        padding: 17px 60px 17px 60px;
        margin-top: 50px;
        margin-left: 29px;
        
        
}
   &__button:hover{
       font-size: 22px;
       border: 2px solid white;
   }
    
}
.block6{
    background-image: url("images/Rectangle\ 4141.png");
    overflow: hidden;
    height: 701px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1px;
    background-color: #c84825;
    &__container{
        @include container;
        text-transform: uppercase;
        
    }
    &__spain{
        margin-top: 231px;
        width: 545px;
        height: 373px;
        background-color: #2e2826d0;
        margin-left: 570px;
        @media screen and (max-width:1200px) 
        {width: 500px;
            margin-left: 0;
            text-align: center;
            
        }
        h1{
                margin-left: 29px;
                padding-top: 48px;
                font-size: 18px;
                font-family: "JosefinSans";
                color: rgb(232, 232, 232);
            }
            h2{
                margin-left: 29px;
                padding-top: 28px;
                
                    font-size: 20px;
                    font-family: "JosefinSans";
                    color: rgb(255, 255, 255);
                    text-transform: uppercase;
                    
                    }
                    
            }
            p{
                margin-left: 29px;
                padding-top: 26px;
                margin-right: 10px;
                
                    font-size: 12px;
                    font-family: "JosefinSans";
                    color: rgb(232, 232, 232);
                    line-height: 1.725;
                    text-align: left;
            }
            &__button{
            
            font-size: 18px;
            font-family: "Aleo";
            color: rgb(255, 255, 255);
            text-transform: uppercase;
            line-height: 1.5;
            text-align: left;
            background-color: #496bfe;
            border: none;
            padding: 17px 60px 17px 60px;
            margin-top: 50px;
            margin-left: 29px;
            
            
    }
    &__button:hover{
        font-size: 22px;
        border: 2px solid white;
    }   
    }
.block7{
    background-image: url("images/bg\ 6.png");
    overflow: hidden;
    height: 731px;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -1px;
    background-color: #262829;
    
    &__container{
        @include container;
        text-transform: uppercase;
        
    }
    h1{
        width: 380px;
        text-align: center;
        margin-top: 123px;
        margin-left: 22.39517625231911vw;
            font-size: 30px;
            font-family: "Aleo";
            color: rgb(255, 255, 255);
            line-height: 0.722;
            @media screen and (max-width:600px){
                margin-left: 60px;
                
            }
            
            }
            &__content{
                
                background-color: #333333f5;
                margin-top: 100px;
                
                &__title{
                    margin-top: -240px;
                    margin-left: 502px;
                    font-size: 22px;
                    font-family: "JosefinSans";
                    color: rgb(254, 254, 254);
                    text-transform: uppercase;
                    line-height: 1.3;
                    @media screen and (max-width:1200px) {
                       text-align: center;
                       margin-top: 20px;
                       margin-left: -650px;
                        
                    }
                    
                    
                }
                &__text{
                    margin-top: 38px;
                    margin-right: 20px;
                    font-size: 14px;
                    font-family: $font-famiy;
                    color: rgb(255, 255, 255);
                    margin-left: 501px;
                    line-height: 1.5;
                    @media screen and (max-width:1200px) {
                        text-align: center;
                        margin-top: 20px;
                        margin-left: 10px ;
                        width: 450px;
                         
                     }
                    
                    
                    
                }
                
            }
            
    }
    .block8{
        background-color: #232323;
        overflow: hidden;
        height: 270px;
        
        &__container{
            @include container;
            text-transform: uppercase;
            text-align: center;
            width: 180px;
            
           
        }
    
       h1{
           margin-top: 120px;
            font-size: 24px;
            font-family: "JosefinSans";
            color: rgb(255, 255, 255);
            font-weight: bold;
            text-transform: uppercase;
            line-height: 1.083;
           
        }
        h2{
                margin-top: 12px;
                font-size: 16px;
                font-family: "JosefinSans";
                color: rgb(255, 255, 255);
                line-height: 1.625;
              
              
        }
        &__icons{
            margin-top: 15px;
            word-spacing: 20px;
        }
        &__icons img:hover{
            width: 2%;
        }
     }   
        


            